@media screen and (max-width: 768px) {

body {
	overflow-x : hidden;
}

#header {
	width    : 100%;
}

#footer {
	width    : 100%;
}

#logo {
	float      : left;
	height     : 80px;
	text-align : center;
	width      : 100%;
	margin     : 25px 0px 0px 0px;
	z-index    : 1;
}

#topnav {
	display         : block;
	float           : left;
	font-size       : 1em;
	width           : 95%;
	letter-spacing  : -1px;
	margin          : 20px 0px 0px 20%;
	padding         : 0px;
}

#topnav li {
	float        : left;
	text-align   : center;
	display      : block;
	margin       : 0px;
	height       : 40px;
	width        : 20%;
	white-space  : nowrap;
}

#topnav a {
	background      : rgba(0, 0, 0, 0);
	color           : #999;
	text-decoration : none;
	height          : 40px;
	padding         : 5px 10px;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#topnav a:hover {
	background : rgba(0, 0, 0, 0.3);
	color      : #EEE;
	
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
	-o-border-radius      : 3px;
	border-radius         : 3px;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content {
	background : url('../Images/texture-bg.png') repeat;
	width      : 100%;
	min-height : 195px;
	margin     : 0px;
	padding    : 20px 0px;
	overflow-x : scroll;
}

#content .gridview {
	width : 100%;
}

#content .gridview th,
#content .gridview td,
#content .gridview tr {
	font-size      : 0.875em;
	padding        : 1%;
	letter-spacing : -1px;
}

#content .gridview a {
	margin : 0px;
}

/* View Survey */
#content .delete-survey-button {
	float          : left;
	margin         : 20px 20% 0px 20%;
	width          : 60%;
	padding-left   : 0px;
	padding-right  : 0px;
}

#content .question {
	position      : relative;
	padding       : 10px 5% 60px 5%;
	border-bottom : 1px dotted #999;
}

#content .question .display-question {
	float          : left;
	width          : 100%;
	padding        : 11px 0px 0px 0px;
	margin         : 0px 0px 10px 0px;
	font-size      : 1.275em;
}

#content .question .delete-question-button {
	position : absolute;
	bottom   : 20px;
	width    : 100%;	
}

#content .question .delete-question-button .deletebutton {
	float  : left;
	margin : 15px 0px 0px 0px;
	font-size : 0.75em;
	margin : 0px;
	padding : 5px;
}

#content .question input[type="text"] {
	width  : 70%;
	margin : 0px 0px 0px 20px;
	font-size : 0.875em;
}

#content .question input[type="checkbox"],
#content .question input[type="radio"] {
	display : block;
	float   : left;
	margin  : 3px 10px 10px 20px;
}

#content .link-button,
#content .link-button.spacer-left {
	margin: 20px 2.5% 0px 2.5%;
	width : 30%;
}

#content #centerblock {
	text-align    : left;
	float         : left;
	width         : 90%;
	margin        : 0px;
	padding       : 5%;
}

#content #leftblock {
	text-align    : center;
	float         : left;
	width         : 100%;
	margin        : 0px;
	padding       : 20px 0px;
	border-bottom : 1px solid #999;
}

#content #rightblock{
	text-align  : center;
	float       : left;
	width       : 100%;
	margin      : 0px;
	padding     : 20px 0px;
	border      : none;
}

#content h1 {
	color       : #666;
	font-size   : 1.25em;
	text-shadow : 1px 1px 1px #FFF;
}

#content h2 {
	color       : #000;
	font-size   : 1.125em;
	text-shadow : 1px 1px 0px #FFF;
}

#content #leftblock #loginbox {
	margin-top : 10px;
}

#content #rightblock #registerbox {
	margin-top : 10px;
}

#infobox {
	margin-top : 50px;
}

#sleft {
	float : left;
}

#sright{
	float : right;
}

#footer #text {
	color       : #FFF;
	font-size   : 0.75em;
	padding     : 33px 0px 0px 40px;
}

}