* {
	font-family : "Droid Sans", "Arial", "Helvetica", "Tahoma", "Trebuchet MS", "Helvetica Neue", "Verdana", sans-serif;
}

body {
	margin     : 0px;
	padding    : 0px;
	background : #000;
	font       : 400 1em "Droid Sans", "Arial", "Helvetica", "Tahoma", "Trebuchet MS", "Helvetica Neue", "Verdana", sans-serif !important;
	overflow-y : scroll;
}

div.clearfix {
	clear : both;
}

table {
	width : 100%;
}

span,
label {
	font-size : 0.875em;
}

input[type="text"],
input[type="password"] {
	border  : 1px solid #ccc;
	margin  : 10px 0px;
	width   : 200px;
	height  : 30px;
	padding : 5px 15px;
	outline : none;
	
	-webkit-box-shadow : inset 0px 0px 5px #CCC, 0px 0px 10px transparent;
	-moz-box-shadow    : inset 0px 0px 5px #CCC, 0px 0px 10px transparent;
	-o-box-shadow      : inset 0px 0px 5px #CCC, 0px 0px 10px transparent;
	box-shadow         : inset 0px 0px 5px #CCC, 0px 0px 10px transparent;
	
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
	-o-border-radius      : 3px;
	border-radius         : 3px;
	
	-webkit-transition : box-shadow 0.3s ease-in-out;
	-moz-transition    : box-shadow 0.3s ease-in-out;
	-o-transition      : box-shadow 0.3s ease-in-out;
	transition         : box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
	-webkit-box-shadow : inset 0px 0px 5px transparent, 0px 0px 10px #09F;
	-moz-box-shadow    : inset 0px 0px 5px transparent, 0px 0px 10px #09F;
	-o-box-shadow      : inset 0px 0px 5px transparent, 0px 0px 10px #09F;
	box-shadow         : inset 0px 0px 5px transparent, 0px 0px 10px #09F;
	
	-webkit-transition : box-shadow 0.3s ease-in-out;
	-moz-transition    : box-shadow 0.3s ease-in-out;
	-o-transition      : box-shadow 0.3s ease-in-out;
	transition         : box-shadow 0.3s ease-in-out;
}

input[type="submit"] {
    display         : block;
    padding         : 10px 20px;
    text-align      : center;
    text-decoration : none;
    color           : #333;
    border          : 1px solid #999;
    font-size       : 0.875em;
    cursor          : pointer;
    
    background : -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE));
	background : -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -o-linear-gradient(top, #FFFFFF, #EEEEEE);

    -webkit-border-radius   : 3px;
    -moz-border-radius      : 3px;
    -o-border-radius        : 3px;
    border-radius           : 3px;

    -webkit-box-shadow : 0px 0px 5px transparent;
    -moz-box-shadow    : 0px 0px 5px transparent;
    -o-box-shadow      : 0px 0px 5px transparent;
    box-shadow         : 0px 0px 5px transparent;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    border-color    : #333;
	
	-webkit-box-shadow : 0px 0px 10px #09F;
    -moz-box-shadow    : 0px 0px 10px #09F;
    -o-box-shadow      : 0px 0px 10px #09F;
    box-shadow         : 0px 0px 10px #09F;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#error {
	position   : fixed;
	width      : 400px;
	height     : 200px;
	z-index    : 10000;
	background : #000;
	
	-webkit-border-radius : 10px;
	-moz-border-radius    : 10px;
	-o-border-radius      : 10px;
	border-radius         : 10px;
	
	opacity     : 0.6;
	filter      : alpha(opacity=60); /* For IE8 and earlier */
	margin-top  : 5%;
	margin-left : 20%;
	font-size   : 1.25em;
	padding-top : 40px;
	color       : #F0F0F0;
	text-align  : center;
}

#header {
	background : url('../Images/texture-h.png');
	width      : 960px;
	margin     : auto;
	z-index    : 0;
}

#footer {
	background : url('../Images/texture-h.png');
	height     : 80px;
	width      : 960px;
	margin     : auto;
	position   : relative;
	top        : 0px;
	z-index    : -1;
}

#logo {
    float      : left;
	height     : 80px;
	width      : 159px;
    margin     : 25px 0px 25px 25px;
	z-index    : 1;
}

#topnav {
	font            : bold 1.5em "Droid Sans", "Arial", "Helvetica", "Tahoma", "Trebuchet MS", "Helvetica Neue", "Verdana", sans-serif;
	float           : right;
    margin          : 50px 50px 0px 0px;
	list-style-type : none;
	text-transform  : lowercase;
	letter-spacing  : -2px;
}

#topnav li {
	display      : inline;
	margin-right : 25px;
	height       : 40px;
}

#topnav a {
	background      : rgba(0, 0, 0, 0);
	color           : #CCC;
	text-decoration : none;
	height          : 40px;
	padding         : 5px 25px;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#topnav a:hover {
	background : rgba(0, 0, 0, 0.3);
	color      : #FFF;
	
	-webkit-border-radius : 3px;
	-moz-border-radius    : 3px;
	-o-border-radius      : 3px;
	border-radius         : 3px;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content {
	background : url('../Images/texture-bg.png') repeat;
	width      : 900px;
	min-height : 495px;
	margin     : 0px auto;
    padding    : 30px 30px;
}

#content .gridview {
    border     : none;
    background : transparent;
    width      : 95%;
    color      : #333;
    margin     : 0px auto;
    font       : 400 0.875em "Droid Sans", "Arial", "Helvetica", "Tahoma", "Trebuchet MS", "Helvetica Neue", "Verdana", sans-serif !important;
}

#content .gridview th,
#content .gridview td,
#content .gridview tr {
    border        : none;
    border-bottom : 1px solid #CCC;
    padding       : 20px 5px;
    cursor        : default;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content .gridview th {
    text-align     : left;
    letter-spacing : 1px;
    font-weight    : 400;
    font-size      : 1em;
    text-transform : uppercase;
}

#content .gridview tr:first-child:hover {
    background : transparent;
}

#content .gridview tr:last-child {
    border-bottom : none;
}

#content .gridview tr:hover {
    background : rgba(255, 255, 255, 0.5);
    color      : #000;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content .gridview a {
    display         : block;
    padding         : 10px;
	margin          : 0px 20px;
    text-align      : center;
    text-decoration : none;
    color           : #333;
    border          : 1px solid #999;
    
    background : -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE));
	background : -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -o-linear-gradient(top, #FFFFFF, #EEEEEE);

    -webkit-border-radius   : 3px;
    -moz-border-radius      : 3px;
    -o-border-radius        : 3px;
    border-radius           : 3px;
	
	-webkit-box-shadow : 0px 0px 10px transparent;
    -moz-box-shadow    : 0px 0px 10px transparent;
    -o-box-shadow      : 0px 0px 10px transparent;
    box-shadow         : 0px 0px 10px transparent;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content .gridview a:hover {
	border-color    : #333;
	
	-webkit-box-shadow : 0px 0px 10px #09F;
    -moz-box-shadow    : 0px 0px 10px #09F;
    -o-box-shadow      : 0px 0px 10px #09F;
    box-shadow         : 0px 0px 10px #09F;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content #centerblock {
	text-align    : left;
	float         : left;
	width         : 90%;
	margin        : 0px;
	padding       : 5%;
}

#content #leftblock {
	text-align   : center;
	float        : left;
	width        : 50%;
	margin       : 50px 0px;
}

#content #rightblock{
	text-align  : center;
	float       : right;
	width       : 49.5%;
	margin      : 50px 0px;
	border-left : solid 1px #999;
}

#content h1 {
	color       : #666;
	font-size   : 1.25em;
	text-shadow : 1px 1px 1px #FFF;
}

#content h2 {
	color       : #000;
	font-size   : 1.125em;
	text-shadow : 1px 1px 0px #FFF;
}

#content #leftblock #loginbox {
	margin-top : 40px;
}

#content #rightblock #registerbox {
    margin-top : 10px;
}

/* View Survey */
#content .delete-survey-button {
	float          : left;
	margin         : 20px 0px 0px 30px;
	text-transform : uppercase;
	letter-spacing : 1px;
}

#content .question {
	padding       : 15px 30px 30px 30px;
	border-bottom : 1px dotted #999;
}

#content .question .display-question {
	float          : left;
	width          : 75%;
	padding        : 11px 0px 0px 0px;
	font-size      : 1.375em;
}

#content .question .display-question-options {
    margin : 20px 0px 0px 0px;
}

#content .question .delete-question-button {
	float : right;
	width : 15%;
}

#content .question .delete-question-button .deletebutton {
	float  : right;
	margin : 15px 0px -15px 0px;
}

#content .question input[type="text"] {
	width  : 50%;
	margin : 10px 0px 0px 20px;
	font-size : 0.875em;
}

#content .question input[type="checkbox"],
#content .question input[type="radio"] {
	display : block;
	float   : left;
	margin  : 3px 10px 10px 20px;
}

/* View Response */
#content .link-button {
    display         : block;
	float           : left;
	margin          : 20px;
    padding         : 10px 20px;
    text-align      : center;
    text-decoration : none;
    color           : #333;
    border          : 1px solid #999;
    font-size       : 0.875em;
    cursor          : pointer;
    
    background : -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEEEEE));
	background : -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
	background : -o-linear-gradient(top, #FFFFFF, #EEEEEE);

    -webkit-border-radius   : 3px;
    -moz-border-radius      : 3px;
    -o-border-radius        : 3px;
    border-radius           : 3px;

    -webkit-box-shadow : 0px 0px 5px transparent;
    -moz-box-shadow    : 0px 0px 5px transparent;
    -o-box-shadow      : 0px 0px 5px transparent;
    box-shadow         : 0px 0px 5px transparent;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content .link-button:hover {
    border-color    : #333;
	
	-webkit-box-shadow : 0px 0px 10px #09F;
    -moz-box-shadow    : 0px 0px 10px #09F;
    -o-box-shadow      : 0px 0px 10px #09F;
    box-shadow         : 0px 0px 10px #09F;
	
	-webkit-transition : all 0.3s ease-in-out;
	-moz-transition    : all 0.3s ease-in-out;
	-o-transition      : all 0.3s ease-in-out;
	transition         : all 0.3s ease-in-out;
}

#content .link-button.caps {
	text-transform : uppercase;
	letter-spacing : 1px;
}

#content .link-button.spacer-left {
	margin-left : 40px;
}

#infobox {
	margin-top : 50px;
}

#sleft {
	float : left;
}

#sright{
	float : right;
}

#footer #text {
	color       : #FFF;
	font-size   : 0.75em;
	padding     : 33px 0px 0px 40px;
}