﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Public.Master" AutoEventWireup="true" CodeBehind="DoSurvey.aspx.cs" Inherits="SofaDev.DoSurvey1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
    <!-- Facebook share button Start -->
                <b:if cond='data:blog.pageType != &quot;static_page&quot;'>
                <div style='float:none;padding:5px 5px 5px 0;'>
                <a expr:share_url='data:post.url' href='http://www.facebook.com/sharer.php' name='fb_share' type='button_count'>Share</a><script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script>
                </div>
                </b:if>
                <!-- Facebook share button End -->
<!-- Twitter share button Start -->
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                <!-- Twitter share button End --><br />
    <asp:Button ID="btnSubmit" runat="server" OnClick="btnSubmit_Click" Text="Submit" cssclass="delete-survey-button"/>
      <div style="text-align:center"><input type="button" onclick="javaScript: window.close(); return false;" value="Close" /></div>
    </asp:Content>
