﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Public.Master" AutoEventWireup="true" CodeBehind="EditResponse.aspx.cs" Inherits="SofaDev.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:PlaceHolder ID="PlaceHolder1" runat="server"></asp:PlaceHolder>
    <br />
    <asp:Button ID="editButton" runat="server" OnClick="editButton_Click" Text="Edit" cssclass="delete-survey-button" />
    <asp:Button ID="cancelButton" runat="server" OnClick="cancelButton_Click" Text="Cancel" cssclass="delete-survey-button" />
</asp:Content>
