﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.Master" AutoEventWireup="true" CodeBehind="Failure.aspx.cs" Inherits="SofaDev.Failure" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
        <asp:Label ID="Label1" runat="server" Text="You have failed to create survey, pls create again!"></asp:Label>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Create Survey!" />
    </p>
</asp:Content>
