﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Public.Master" AutoEventWireup="true" CodeBehind="PasswordResetFinal.aspx.cs" Inherits="SofaDev.PasswordResetFinal" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>Password Reset</h2>

    <div>
        
            <p>The password has been sent to your email id</p>
                
   </div>
</asp:Content>
